{{define "title"}}About{{end}}
{{define "main"}}
<h1>About<h1>
<br>
<p>
    Welcome to SnippestBox We are a community of developers who share and discover useful code snippets.
    Our goal is to help developers save time and improve their projects by providing a central repository
    of high-quality code snippets that can be easily searched and shared.
</p>

 <p>
    Our website features a searchable library of code snippets in a variety of programming languages,
    as well as user profiles and the ability to save and organize your favorite snippets. You can also join the
    SnippestBox community by creating an account and contributing your own snippets.
 </p>

 <p>
     SnippestBox was created by a team of experienced developers who saw the need for a better way to find and
     share code snippets. We are constantly working to improve the website and add new features to make it even
     more useful for our community of users.
  </p>

 <p>
     If you have any questions or suggestions, don't hesitate to contact us. You can also join the conversation
     on our forums and follow us on social media to stay up-to-date with the latest updates and new snippets.</p>
{{end}}
